name: Get Google Scholar Citation Data

on: 
  page_build:
  workflow_dispatch:
  schedule:
    - cron: '0 8 * * *'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'
          
      - name: Install dependencies
        run: |
          cd ./google_scholar_crawler
          pip3 install -r requirements.txt
          
      - name: Run Google Scholar crawler
        env: 
          GOOGLE_SCHOLAR_ID: ${{ secrets.GOOGLE_SCHOLAR_ID }}
        run: |
          cd ./google_scholar_crawler
          python3 main.py
          
      - name: Push results to google-scholar-stats branch
        run: |
          cd ./google_scholar_crawler/results
          git init
          git config --local user.name "${GITHUB_ACTOR}"
          git config --local user.email "action@github.com"
          export remote_repo="https://${GITHUB_ACTOR}:${{ secrets.GITHUB_TOKEN }}@github.com/${GITHUB_REPOSITORY}.git"
          git add *.json
          git commit -m "Update Google Scholar citation data"
          git push "${remote_repo}" HEAD:google-scholar-stats --force
